<!DOCTYPE html>
<html>
<head>
    <script>
    var iBgShiftY=0;
    var backgroundImage= new Image();
    backgroundImage.src="../../assets/space.jpg";
    var ctx;
    var dragon;
    var dragonW = 75; // dragon width
    var dragonH = 70; // dragon height
    var iSprPos = 0; // initial sprite frame
    var iSprDir = 2; // initial dragon direction
    var oDragonImage = new Image();
    oDragonImage.src ="../../assets/dragon.gif";
    var tweetCloud = new Image();
    tweetCloud.src ="../../assets/cloud.png";
    
    var oTankImage = new Image();
    oTankImage.src ="../../assets/tank.gif";

    var tweetForCloud = new Array();
    var i=0;
    var cloudShiftY=0;
    var currentTweetIndex=0;

    <% @trend.each do |key|%>
    tweetForCloud[i]=("<%= key.text %>");
    i++;
    <% end %>

    function Dragon(x, y, w, h, image) {
    this.x = x;
    this.y = y;
    this.w = w;
    this.h = h;
    this.image = image;
    
    }
     
    function init(){
    ctx=document.getElementById("canvas").getContext('2d');
     
    dragon = new Dragon(400, 300, dragonW, dragonH, oDragonImage);
    drawscene();
    setInterval(drawscene,15);
    }   
     
    function clear(){
      ctx.clearRect(0,0,ctx.canvas.width,ctx.canvas.height);
    }
     
    function drawscene(){
    clear();
     
    iBgShiftY+=2;
    if(iBgShiftY>=500){
    iBgShiftY=0;
    }
     
    ctx.drawImage(backgroundImage,0,0+iBgShiftY,1400,400,0,0,1440,400);
     
    // update sprite positions
    iSprPos++;
    if (iSprPos >= 9) {
        iSprPos = 0;
    }
    
    //Update Tweet Position
    cloudShiftY+=2;
    if(cloudShiftY>=360){
    cloudShiftY=0;
    currentTweetIndex++;
    if(currentTweetIndex>10)
    {currentTweetIndex=0;
    }
    }

    ctx.drawImage(tweetCloud,0,0,3012,1684,0,0+iBgShiftY,60,40);
    ctx.fillText(tweetForCloud[currentTweetIndex],0,0+iBgShiftY) 
     // draw tank
    ctx.drawImage(oTankImage,0,0,480,360,60,360,40,30);
  //  ctx.drawImage(dragon.image, iSprPos*dragon.w, iSprDir*dragon.h, dragon.w, dragon.h, dragon.x - dragon.w/2, dragon.y - dragon.h/2, dragon.w, dragon.h);
    }
    </script>
     
</head>
<body onLoad=init()>
<canvas id="canvas" width="1440" height="400">
Hello
</canvas>
</body>
</html> 
